<template>
    <el-form ref="createPostItemForm" :model="postItemCreateForm" :rules="rules">
        <el-form-item label="Language" prop="lang" class="form-item">
            <br>
            <el-select v-model="postItemCreateForm.lang" placeholder="Select language">
                <el-option
                    v-for="lang in getAvailableLangsForCreate"
                    :key="lang.id"
                    :label="lang.name"
                    :value="lang.id"/>
            </el-select>
        </el-form-item>
        <el-form-item label="Title" prop="title" class="form-item">
            <el-input v-model="postItemCreateForm.title"/>
        </el-form-item>
        <el-form-item label="Activity" prop="isActive" class="form-item">
            <br>
            <el-switch v-model="postItemCreateForm.isActive"/>
        </el-form-item>
        <el-form-item label="Description" prop="description" class="form-item-text">
            <br>
            <ckeditor v-model="postItemCreateForm.description" :config="{...ckeditorConfig, height: 250}" />
        </el-form-item>
        <el-form-item label="Text" prop="text" class="form-item-text">
            <br>
            <ckeditor v-model="postItemCreateForm.text" :config="ckeditorConfig" />
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="submitForm('createPostItemForm')">Create</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import Posts                                              from '~/store/modules/posts';
import PostItems, { PostItemCreate }                      from '~/store/modules/post-items';
import Preloader                                          from '~/store/modules/preloader';
import Languages                                          from '~/store/modules/languages';
import { ValidationRules }                                from '~/components/types';
import { LanguageItem }                                   from '~/api/languages/types';
import { successfullCreatedMessage, errorCreatedMessage } from '~/helpers/notifications';
import ckeditorConfig, { CKEditorConfig }                 from '~/helpers/ckeditor-config';

@Component
export default class CreatePostItem extends Vue {
    postItemsModule = getModule(PostItems, this.$store)
    postsModule = getModule(Posts, this.$store)
    preloaderModule = getModule(Preloader, this.$store)
    languagesModule = getModule(Languages, this.$store)

    get rules(): ValidationRules {
      return {
        title: [
          { required : true, message : 'Please input Title', trigger : 'blur' },
        ],
        lang: [
          { required : true, message : 'Please input Language', trigger : 'change' },
        ],
        description: [
          { required : true, message : 'Please input Description', trigger : 'blur' },
        ],
        text: [
          { required : true, message : 'Please input Text', trigger : 'blur' },
        ],
      };
    }

    get ckeditorConfig(): CKEditorConfig {
      return ckeditorConfig;
    }

    async created(): Promise<void> {
      const id = Number(this.$route.params.id);
      try {
        await Promise.all([
          this.postsModule.getDetailPost(id),
          this.languagesModule.getLanguages()
        ]);
      } catch(e) {
        this.$router.push({path : '/404'});
      }
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    get postItemCreateForm(): PostItemCreate {
      return this.postItemsModule.postItemCreateForm;
    }

    get getAvailableLangsForCreate(): Array<LanguageItem> {
      return this.postsModule.getAvailableLangsForCreate;
    }

    submitForm(formName: string): void {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          try {
            await this.postItemsModule.createPostItem();
            this.$notify(successfullCreatedMessage);
    
            this.$router.push({ name : 'Post Detail', params : {id : this.postsModule.postDetail.id.toString()} });
          } catch(e) {
            this.$notify(errorCreatedMessage);
          }
        }
      });
    }

    destroyed(): void {
      this.postItemsModule.RESET_CREATE_FORM();
    }
}
</script>

<style scoped>
  .form-item {
    max-width: 600px;
  }

  .form-item-text {
    max-width: 1200px;
  }
</style>