<template>
    <el-form ref="createPostForm" :model="postCreateForm" :rules="rules"
             class="add-form">
        <el-form-item label="Title" prop="title">
            <el-input v-model="postCreateForm.title"/>
        </el-form-item>
        <el-form-item label="Tags" prop="tags">
            <br>
            <el-select v-model="postCreateForm.tags" multiple placeholder="Select tags">
                <el-option
                    v-for="item in tagList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"/>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="submitForm('createPostForm')">Create</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import { TagItem}                                         from '~/api/tags/types';
import Posts, { CreatePostForm }                          from '~/store/modules/posts';
import Tags                                               from '~/store/modules/tags';
import { ValidationRules }                                from '~/components/types';
import { successfullCreatedMessage, errorCreatedMessage } from '~/helpers/notifications';

@Component
export default class CreatePost extends Vue {
    postsModule = getModule(Posts, this.$store)
    tagsModule = getModule(Tags, this.$store)

    async created(): Promise<void> {
      await this.tagsModule.getTags();
    }

    get rules(): ValidationRules {
      return {
        title: [
          { required : true, message : 'Please input Title', trigger : 'blur' },
        ],
        tags: [
          { required : true, message : 'Please input Tags', trigger : 'change' },
        ],
      };
    }

    get tagList(): Array<TagItem> {
      return this.tagsModule.tagList;
    }

    get postCreateForm(): CreatePostForm {
      return this.postsModule.postCreateForm;
    }

    submitForm(formName: string): void {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          try {
            await this.postsModule.createPost();
            this.$notify(successfullCreatedMessage);
    
            this.$router.push({ path : '/posts' });
          } catch(e) {
            this.$notify(errorCreatedMessage);
          }
        }
      });
    }

    destroyed(): void {
      this.postsModule.RESET_CREATE_FORM();
    }
}
</script>