<template>
    <el-form ref="editPostItemForm" :model="postItemEditForm" :rules="rules"
             class="add-form">
        <el-form-item label="Language" prop="lang" class="form-item">
            <br>
            <el-select v-model="postItemEditForm.lang" placeholder="Select language">
                <el-option
                    v-for="lang in getAvailableLangsForEdit"
                    :key="lang.id"
                    :label="lang.name"
                    :value="lang.id"/>
            </el-select>
        </el-form-item>
        <el-form-item label="Title" prop="title" class="form-item">
            <el-input v-model="postItemEditForm.title"/>
        </el-form-item>
        <el-form-item label="Activity" prop="isActive" class="form-item">
            <br>
            <el-switch v-model="postItemEditForm.isActive"/>
        </el-form-item>
        <el-form-item label="Description" prop="description" class="form-item-text">
            <br>
            <ckeditor v-model="postItemEditForm.description"
                      :config="{...ckeditorConfig, height: 250}" />
        </el-form-item>
        <el-form-item label="Text" prop="text" class="form-item-text">
            <br>
            <ckeditor v-model="postItemEditForm.text"
                      :config="ckeditorConfig" />
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="submitForm('editPostItemForm')">Save</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import Posts                                              from '~/store/modules/posts';
import PostItems, { PostItemEdit }                        from '~/store/modules/post-items';
import Preloader                                          from '~/store/modules/preloader';
import Languages                                          from '~/store/modules/languages';
import { LanguageItem }                                   from '~/api/languages/types';
import { ValidationRules }                                from '~/components/types';
import { successfullUpdatedMessage, errorUpdatedMessage } from '~/helpers/notifications';
import ckeditorConfig, { CKEditorConfig }                 from '~/helpers/ckeditor-config';

@Component
export default class EditPostItem extends Vue {
    postItemsModule = getModule(PostItems, this.$store)
    postsModule = getModule(Posts, this.$store)
    preloaderModule = getModule(Preloader, this.$store)
    languagesModule = getModule(Languages, this.$store)

    get rules(): ValidationRules {
      return {
        title: [
          { required : true, message : 'Please input Title', trigger : 'blur' },
        ],
        lang: [
          { required : true, message : 'Please input Language', trigger : 'change' },
        ],
        description: [
          { required : true, message : 'Please input Description', trigger : 'blur' },
        ],
        text: [
          { required : true, message : 'Please input Text', trigger : 'blur' },
        ],
      };
    }

    get ckeditorConfig(): CKEditorConfig {
      return ckeditorConfig;
    }

    async created(): Promise<void> {
      const id = Number(this.$route.params.id);
      const postItemId = Number(this.$route.params['itemId']);

      try {
        await Promise.all([
          this.postsModule.getDetailPost(id),
          this.languagesModule.getLanguages()
        ]);

        const postItem = this.postsModule.postDetail.postItems.find((postItem) => postItem.id === postItemId);
        if(postItemId && postItem) {
          this.postItemsModule.SET_POST_ITEM_EDIT(postItem);
        } else {
          this.$router.push({path : '/404'});
        }
      } catch(e) {
        this.$router.push({path : '/404'});
      }
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    get postItemEditForm(): PostItemEdit {
      return this.postItemsModule.postItemEditForm;
    }

    get getAvailableLangsForEdit(): Array<LanguageItem> {
      return this.postsModule.getAvailableLangsForEdit;
    }

    destroyed(): void {
      this.postItemsModule.RESET_EDIT_FORM();
    }

    submitForm(formName: string): void {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          try {
            await this.postItemsModule.updatePostItem();
            this.$notify(successfullUpdatedMessage);
    
            this.$router.push({ name : 'Post Detail', params : {id : this.postsModule.postDetail.id.toString()} });
          } catch(e) {
            this.$notify(errorUpdatedMessage);
          }
        }
      });
    }
}
</script>

<style scoped>
  .form-item {
    max-width: 600px;
  }

  .form-item-text {
    max-width: 1200px;
  }
</style>