<template>
    <div>
        <AddButton link="/posts/new">Add new post</AddButton>

        <el-table
            :data="getPostList"
            style="width: 100%" :row-class-name="tableRowClassName">
            <el-table-column
                label="Title">
                <template slot-scope="scope">
                    <span>{{ scope.row.title }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="Date">
                <template slot-scope="scope">
                    <span>{{ formatDate(scope.row.createdAt) }}</span>
                </template>
            </el-table-column>
            <el-table-column
                width="200"
                label="Languages">
                <template slot-scope="scope">
                    <el-row>
                        <el-col v-for="postItem in scope.row.postItems" :key="postItem.id" :span="6">
                            <img v-if="postItem.lang.logo" class="lang-logo" :src="postItem.lang.logo">
                            <span v-else class="lang-logo-empty">{{ postItem.lang.name.slice(0,2) }}</span>
                        </el-col>
                    </el-row>
                </template>
            </el-table-column>
            <el-table-column
                width="150"
                label="">
                <template slot-scope="scope">
                    <router-link :to="{ name: 'Post Detail', params: { id: scope.row.id }}">
                        <el-button type="text" size="small">Detail</el-button>
                    </router-link>
                </template>
            </el-table-column>
            <el-table-column>
                <template slot-scope="scope">
                    <el-button type="danger" size="small" @click="removePost(scope.row.id)">Remove</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import Posts                         from '~/store/modules/posts';
import Preloader                     from '~/store/modules/preloader';
import { Post }                      from '~/api/posts/types';
import AddButton                     from '~/components/ui/AddButton.vue';
import dateFormatter                 from '~/helpers/date-formatter';
import { successfullRemovedMessage } from '~/helpers/notifications';

@Component({
  components: {
    AddButton
  }
})
export default class PostList extends Vue {
  postsModule = getModule(Posts, this.$store)
  preloaderModule = getModule(Preloader, this.$store)

  async created(): Promise<void> {
    await this.postsModule.getPosts();
    this.preloaderModule.SET_PRELOADER_STATE(false);
  }

  get getPostList(): Array<Post> {
    return this.postsModule.getPostList;
  }

  removePost(postId: number): void {
    this.$confirm('Are you sure to remove this post with its items?')
      .then(async() => {
        await this.postsModule.removePost(postId);
        this.$notify(successfullRemovedMessage);
        this.postsModule.getPosts();
      })
      .catch(() => null);
  }

  tableRowClassName({row}: {row: Post}): string {
    if(row.postItems.length === 0) {
      return 'empty-row';
    }
    return '';
  }

  formatDate(date: string): string {
    return dateFormatter(date);
  }
}
</script>

<style scoped>
  .lang-logo {
    width: 24px;
    height: 24px;
  }

  .lang-logo-empty {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: rgb(84, 92, 100);
    color: #fff;
    justify-content: center;
    border-radius: 50%;
  }
</style>

<style>
  .el-table .empty-row {
    background: #f7f7f7;
  }
</style>