<template>
    <div>
        <h1 class="page-title">{{ post.title }}</h1>
        <BackButton link="/posts">Post list</BackButton>
        <el-form ref="editPostForm" :model="postEditForm" :rules="rules"
                 class="add-form">
            <el-form-item label="Title" prop="title">
                <el-input v-model="postEditForm.title"/>
            </el-form-item>

            <el-form-item label="Tags" prop="tags">
                <br>
                <el-select v-model="postEditForm.tags" multiple placeholder="Select tags">
                    <el-option
                        v-for="item in tagList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"/>
                </el-select>
            </el-form-item>

            <el-form-item>
                <el-button type="success" @click="submitForm('editPostForm')">Save</el-button>
            </el-form-item>

            <div class="post-items">
                <h3>Post items</h3>

                <AddButton v-if="isAddPostItemBtnActive" :link="`/posts/${post.id}/post-item/new`">Add post item</AddButton>

                <el-collapse v-if="getPostEditForm.postItems.length > 0" accordion>
                    <el-collapse-item v-for="postItem in getPostEditForm.postItems" :key="postItem.id" :name="postItem.id"
                                      :class="{'post-item-inactive': !postItem.isActive}">
                        <template slot="title">
                            <img v-if="postItem.lang.logo" class="post-item-logo" :src="postItem.lang.logo"
                                 alt="">
                            <span v-else class="logo-empty">{{ postItem.lang.name.slice(0, 2) }}</span>
                            {{ postItem.title }}
                        </template>
                        <div>
                            <el-row class="manage-btns">
                                <el-button type="primary" icon="el-icon-edit" circle
                                           @click="editItemBtn(postItem.id)" />
                                <el-button type="danger" icon="el-icon-delete" circle
                                           @click="removeItemBtn(postItem.id)"/>
                            </el-row>
                            <div v-html="postItem.description"></div>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </div>
        </el-form>
    </div>
</template>

<script lang="ts">
import { Component, Vue }    from 'vue-property-decorator';
import { getModule }         from 'vuex-module-decorators';
import Posts, { DetailPost } from '~/store/modules/posts';
import Tags                  from '~/store/modules/tags';
import Preloader             from '~/store/modules/preloader';
import Languages             from '~/store/modules/languages';
import PostItems             from '~/store/modules/post-items';
import { TagItem }           from '~/api/tags/types';
import { ValidationRules }   from '~/components/types';
import BackButton            from '~/components/ui/BackButton.vue';
import AddButton             from '~/components/ui/AddButton.vue';
import { 
  successfullUpdatedMessage,
  errorUpdatedMessage,
  successfullRemovedMessage } from '~/helpers/notifications';

@Component({
  components: {
    BackButton,
    AddButton
  }
})
export default class PostDetail extends Vue {
    postsModule = getModule(Posts, this.$store)
    preloaderModule = getModule(Preloader, this.$store)
    languagesModule = getModule(Languages, this.$store)
    postItemsModule = getModule(PostItems, this.$store)
    tagsModule = getModule(Tags, this.$store)

    get rules(): ValidationRules {
      return {
        title: [
          { required : true, message : 'Please input Title', trigger : 'blur' },
        ],
        tags: [
          { required : true, message : 'Please input Tags', trigger : 'change' },
        ],
      };
    }

    get postId(): number {
      return Number(this.$route.params.id);
    }

    get tagList(): Array<TagItem> {
      return this.tagsModule.tagList;
    }

    async created(): Promise<void> {
      try {
        await this.getPostData();
      } catch(e) {
        this.$router.push({path : '/404'});
      }
      await this.tagsModule.getTags();
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    get post(): DetailPost {
      return this.postsModule.postDetail;
    }

    get postEditForm(): DetailPost {
      return this.postsModule.postEditForm;
    }

    get getPostEditForm(): DetailPost {
      return this.postsModule.getPostEditForm;
    }

    get isAddPostItemBtnActive(): boolean {
      return this.postsModule.getAvailableLangsForCreate.length > 0;
    }

    async getPostData(): Promise<void> {
      await Promise.all([
        this.postsModule.getDetailPost(this.postId),
        this.languagesModule.getLanguages()
      ]); 
    }

    removeItemBtn(postItemId: number): void {
      this.$confirm('Are you sure to remove this post item?')
        .then(async() => {
          await this.postItemsModule.removePostItem(postItemId);
          this.$notify(successfullRemovedMessage);
          this.getPostData();
        })
        .catch(() => null);
    }

    editItemBtn(postItemId: number): void {
      this.$router.push({name  : 'Post Item Detail', params: {
        id    : this.postsModule.postDetail.id.toString(),
        itemId: postItemId.toString()
      }});
    }

    submitForm(formName: string): void {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          try {
            await this.postsModule.updatePost();
            this.$notify(successfullUpdatedMessage);
    
            this.$router.push({ path : '/posts' });
          } catch(e) {
            this.$notify(errorUpdatedMessage);
          }
        }
      });
    }
}
</script>

<style scoped>
  .post-items {
    margin: 60px 0;
  }

  .post-item-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .logo-empty {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: rgb(84, 92, 100);
    color: #fff;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  .manage-btns {
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>

<style>
  .post-item-inactive .el-collapse-item__header {
    opacity: 0.3;
  }
</style>