<template>
    <el-dialog title="Create tag" :visible.sync="createDialogVisible">
        <el-form ref="createTagForm" :model="createTagForm"
                 :rules="rules">
            <el-form-item label="Name" prop="name">
                <el-input v-model="createTagForm.name"/>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">Cancel</el-button>
            <el-button type="primary" @click="createTag('createTagForm')">Save</el-button>
        </span>
    </el-dialog>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import { CreateTagPayload }          from '~/api/tags/types';
import Tags                          from '~/store/modules/tags';
import { ValidationRules }           from '~/components/types';
import { successfullCreatedMessage } from '~/helpers/notifications';

@Component
export default class TagCreateDialog extends Vue {
    tagsModule = getModule(Tags, this.$store)

    get rules(): ValidationRules {
      return {
        name: [
          { required : true, message : 'Please input Name', trigger : 'blur' },
        ],
      };
    }

    get createDialogVisible(): boolean {
      return this.tagsModule.createDialogVisible;
    }

    set createDialogVisible(value: boolean) {
      this.dialogVisibilityHandler(value);
    }

    get createTagForm(): CreateTagPayload {
      return this.tagsModule.createTagForm;
    }

    closeDialog(): void {
      this.dialogVisibilityHandler(false);
    }

    async createTag(formName: string): Promise<void> {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          await this.tagsModule.createTag();

          this.$notify(successfullCreatedMessage);

          this.dialogVisibilityHandler(false);
          await this.tagsModule.getTags();
        }
      });
    }

    dialogVisibilityHandler(value: boolean): void {
      this.tagsModule.SET_CREATE_DIALOG_VISIBLE(value);
      this.tagsModule.RESET_CREATE_TAG();
    }
}
</script>