<template>
    <el-dialog title="Edit tag" :visible.sync="editDialogVisible">
        <el-form v-if="tagForEdit" ref="editTagForm" :model="tagForEdit"
                 :rules="rules">
            <el-form-item label="Name" prop="name">
                <el-input v-model="tagForEdit.name"/>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">Cancel</el-button>
            <el-button type="primary" @click="updateTag('editTagForm')">Save</el-button>
        </span>
    </el-dialog>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import { TagItem }                   from '~/api/tags/types';
import Tags                          from '~/store/modules/tags';
import { ValidationRules }           from '~/components/types';
import { successfullUpdatedMessage } from '~/helpers/notifications';

@Component
export default class TagEditDialog extends Vue {
    tagsModule = getModule(Tags, this.$store)

    get rules(): ValidationRules {
      return {
        name: [
          { required : true, message : 'Please input Name', trigger : 'blur' },
        ],
      };
    }

    get editDialogVisible(): boolean {
      return this.tagsModule.editDialogVisible;
    }

    set editDialogVisible(value: boolean) {
      this.dialogVisibilityHandler(value);
    }

    get tagForEdit(): TagItem | null {
      return this.tagsModule.tagForEdit;
    }

    closeDialog(): void {
      this.dialogVisibilityHandler(false);
    }

    async updateTag(formName: string): Promise<void> {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          await this.tagsModule.updateTag();

          this.$notify(successfullUpdatedMessage);

          this.dialogVisibilityHandler(false);
          await this.tagsModule.getTags();
        }
      });
    }

    dialogVisibilityHandler(value: boolean): void {
      this.tagsModule.SET_EDIT_DIALOG_VISIBLE(value);
      this.tagsModule.RESET_EDIT_TAG();
    }
}
</script>