<template>
    <div>
        <el-button type="primary" icon="el-icon-plus" class="btn-add"
                   @click="createTag">Create tag</el-button>

        <el-table
            :data="tagList"
            style="width: 100%">
            <el-table-column
                label="Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="">
                <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="handleEdit(scope.row)">
                        Edit
                    </el-button>
                    <el-button
                        size="mini"
                        type="danger"
                        @click="handleRemove(scope.row.id)">
                        Remove
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <TagEditDialog />

        <TagCreateDialog />
    </div>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import { TagItem }                                        from '~/api/tags/types';
import Preloader                                          from '~/store/modules/preloader';
import Tags                                               from '~/store/modules/tags';
import TagEditDialog                                      from '~/components/tags/TagEditDialog.vue';
import TagCreateDialog                                    from '~/components/tags/TagCreateDialog.vue';
import { successfullRemovedMessage, errorRemovedMessage } from '~/helpers/notifications';

@Component({
  components: {
    TagEditDialog,
    TagCreateDialog
  }
})
export default class TagList extends Vue {
    tagsModule = getModule(Tags, this.$store)
    preloaderModule = getModule(Preloader, this.$store)

    async created(): Promise<void> {
      await await this.tagsModule.getTags();
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    get tagList(): Array<TagItem> {
      return this.tagsModule.tagList;
    }

    handleEdit(tag: TagItem): void {
      this.tagsModule.SET_TAG_FOR_EDIT(tag);
      this.tagsModule.SET_EDIT_DIALOG_VISIBLE(true);
    }

    handleRemove(tagId: number): void {
      this.$confirm('Are you sure to remove this tag?')
        .then(async() => {
          try {
            await this.tagsModule.removeTag(tagId);

            this.$notify(successfullRemovedMessage);

            await this.tagsModule.getTags();
          } catch(e) {
            this.$notify(errorRemovedMessage);
          }
        })
        .catch(() => null);
    }

    createTag(): void {
      this.tagsModule.SET_CREATE_DIALOG_VISIBLE(true);
    }
}
</script>

<style scoped>
  .btn-add {
    margin-bottom: 30px;
  }
</style>