<template>
    <div>
        <el-table
            :data="users"
            style="width: 100%">
            <el-table-column
                label="First Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.firstName }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="Last Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.lastName }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="E-mail">
                <template slot-scope="scope">
                    <span>{{ scope.row.email }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="Is Active">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.isActive" @change="(value) => activityChange(scope.row.id, value)" />
                </template>
            </el-table-column>
            <el-table-column
                label="">
                <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="handleEdit(scope.row)">
                        Edit
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <UserEditDialog />
    </div>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import { UserItem }                  from '~/api/users/types';
import UsersModule                   from '~/store/modules/users';
import Preloader                     from '~/store/modules/preloader';
import UserEditDialog                from '~/components/users/UserEditDialog.vue';
import { successfullUpdatedMessage } from '~/helpers/notifications';

@Component({
  components: {
    UserEditDialog
  }
})
export default class Users extends Vue {
    userModule = getModule(UsersModule, this.$store)
    preloaderModule = getModule(Preloader, this.$store)

    async created(): Promise<void> {
      await this.userModule.getUsers();
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    get users(): Array<UserItem> {
      return this.userModule.userList;
    }

    destroyed(): void {
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    handleEdit(user: UserItem): void {
      this.userModule.SET_USER_FOR_EDIT({userId : user.id});
      this.userModule.SET_DIALOG_VISIBLE(true);
    }

    async activityChange(id: number, value: boolean): Promise<void> {
      this.userModule.SET_USER_FOR_EDIT({userId : id, values : {isActive : value}});
      await this.userModule.updateUser();

      this.$notify(successfullUpdatedMessage);

      await this.userModule.getUsers();
    }
}
</script>