<template>
    <el-dialog title="Edit user" :visible.sync="editDialogVisible">
        <el-form v-if="userForEdit" :model="userForEdit">
            <el-form-item label="First Name">
                <el-input v-model="userForEdit.firstName"/>
            </el-form-item>
            <el-form-item label="Last Name">
                <el-input v-model="userForEdit.lastName"/>
            </el-form-item>
            <el-form-item label="E-mail">
                <el-input v-model="userForEdit.email"/>
            </el-form-item>
            <el-form-item label="Is Active">
                <el-switch v-model="userForEdit.isActive" />
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">Cancel</el-button>
            <el-button type="primary" @click="updateUser">Save</el-button>
        </span>
    </el-dialog>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import { UserItem }                  from '~/api/users/types';
import UsersModule                   from '~/store/modules/users';
import { successfullUpdatedMessage } from '~/helpers/notifications';

@Component
export default class UserEditDialog extends Vue {
    userModule = getModule(UsersModule, this.$store)

    get editDialogVisible(): boolean {
      return this.userModule.editDialogVisible;
    }

    set editDialogVisible(value) {
      this.userModule.SET_DIALOG_VISIBLE(value);
    }

    get userForEdit(): UserItem | null {
      return this.userModule.userForEdit;
    }

    closeDialog(): void {
      this.userModule.SET_DIALOG_VISIBLE(false);
    }

    async updateUser(): Promise<void> {
      await this.userModule.updateUser();

      this.$notify(successfullUpdatedMessage);

      this.userModule.SET_DIALOG_VISIBLE(false);
      await this.userModule.getUsers();
    }
}
</script>