<template>
    <div class="container-404">
        <h1 class="numbers">404</h1>
        <p>Ooops... Something wrong</p>
    </div>
</template>

<style scoped>
  .container-404 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: 100%
  }

  .numbers {
    color: #e21f1f;
    font-size: 64px;
    margin: 0;
  }
</style>
