<template>
    <div class="container">
        <el-row :gutter="15">
            <el-col v-for="file in getFiles" :key="file.filename" :span="4"
                    class="card">
                <el-card :body-style="{ padding: '10px' }">
                    <div class="image-wrap">
                        <img :src="file.url" class="image">
                    </div>
                    <div class="card-bottom">
                        <span class="filename" :title="file.filename">{{ file.filename }}</span>
                        <div class="bottom clearfix">
                            <el-button type="text" class="button" @click.prevent="returnFileUrl(file.url)">Select</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script lang="ts">
import { Component, Vue }    from 'vue-property-decorator';
import { getModule }         from 'vuex-module-decorators';
import FilesModule, { File } from '~/store/modules/files';

@Component
export default class FileBrowser extends Vue {
    filesModule = getModule(FilesModule, this.$store)

    get getFiles(): Array<File> {
      return this.filesModule.getFiles;
    }

    async created(): Promise<void> {
      await this.filesModule.getFileList();
    }

    getUrlParam(paramName: string): string | null {
      const reParam = new RegExp('(?:[?&]|&)' + paramName + '=([^&]+)', 'i');
      const match = window.location.search.match(reParam);

      return (match && match.length > 1) ? match[1] : null;
    }

    returnFileUrl(url: string): void {
      const funcNum = this.getUrlParam('CKEditorFuncNum');
      window.opener.CKEDITOR.tools.callFunction(funcNum, url);
      window.close();
    }
}

</script>

<style scoped>
  .container {
    padding: 15px;
  }

  .card {
    margin-bottom: 15px;
  }

  .card-inner {
    padding: 5px;
  }

  .card-bottom {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }

  .filename {
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
  }
</style>