<template>
    <h1 class="welcome-msg">Welcome to admin panel of my blog</h1>
</template>

<style scoped>
  .welcome-msg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #999;
  }
</style>
