<template>
    <div class="auth-wrap">
        <el-card class="auth-block">
            <el-form ref="loginForm" :model="loginData" :rules="rules">
                <el-form-item label="E-mail" prop="email">
                    <el-input v-model="loginData.email"/>
                </el-form-item>
                <el-form-item label="Password" prop="password">
                    <el-input v-model="loginData.password" type="password"/>
                </el-form-item>
                <div class="btn-wrap">
                    <el-button type="primary" @click="signIn('loginForm')">Send</el-button>
                </div>
            </el-form>
        </el-card>
    </div>
</template>

<script lang="ts">
import { Component, Vue }   from 'vue-property-decorator';
import { getModule }        from 'vuex-module-decorators';
import { ValidationRules }  from '~/components/types';
import Auth, { LoginData }  from '~/store/modules/auth';
import { authErrorMessage } from '~/helpers/notifications';

@Component
export default class Login extends Vue {
    authModule = getModule(Auth, this.$store)

    get rules(): ValidationRules {
      return {
        email: [
          { required : true, message : 'Please input Email', trigger : 'blur' },
        ],
        password: [
          { required : true, message : 'Please input Password', trigger : 'blur' },
        ],
      };
    }

    get loginData(): LoginData {
      return this.authModule.loginData;
    }

    signIn(formName: string): void {
      (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
        if (valid) {
          try {
            await this.authModule.login();
            this.$router.push({ path : '/' });
          } catch(e) {
            this.$notify(authErrorMessage);
          }
        }
      });
    }
}
</script>

<style scoped>
    .auth-wrap {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-block {
        width: 350px;
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
    }
</style>