<template>
    <div>
        <h1 class="page-title">Tags</h1>
        <TagList />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TagList            from '~/components/tags/TagList.vue';

@Component({
  components: {
    TagList
  }
})
export default class Tags extends Vue {

}
</script>