<template>
    <el-menu class="menu">
        <el-menu-item index="1">
            <router-link class="menu-link" to="/">Main</router-link>
        </el-menu-item>
        <el-menu-item index="2">
            <router-link class="menu-link" to="/users">Users</router-link>
        </el-menu-item>
        <el-menu-item index="3">
            <router-link class="menu-link" to="/posts">Posts</router-link>
        </el-menu-item>
        <el-menu-item index="4">
            <router-link class="menu-link" to="/langs">Languages</router-link>
        </el-menu-item>
        <el-menu-item index="5">
            <router-link class="menu-link" to="/tags">Tags</router-link>
        </el-menu-item>
    </el-menu>
</template>

<style scoped lang="scss">
    .menu {
        height: 100%;
    }

    .menu-link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .router-link-exact-active {
        color: #409EFF;
    }
</style>