<template>
    <el-container>
        <el-menu
            class="el-menu-demo"
            mode="horizontal"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b"
            style="width: 100%;">
            <el-row>
                <el-col :span="12">
                    <el-header class="navbar-title">Admin panel</el-header>
                </el-col>
                <el-col :span="12">
                    <el-header class="logout-col">
                        <el-link type="danger" class="logout-link" icon="el-icon-back"
                                 @click.prevent="logout">Logout</el-link>
                    </el-header>
                </el-col>
            </el-row>
        </el-menu>
    </el-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getModule }      from 'vuex-module-decorators';
import AuthModule         from '~/store/modules/auth';

@Component
export default class Navbar extends Vue {
    authModule = getModule(AuthModule, this.$store)

    logout(): void {
      this.$confirm('Are you sure to logout from your account?')
        .then(() => {
          this.authModule.CLEAR_USER_TOKEN();
          this.$router.push({path : '/login'});
        })
        .catch(() => null);
    }
}
</script>

<style scoped>
    .navbar-title {
        line-height: 60px;
        color: #fff;
    }

    .logout-col {
        line-height: 60px;
        text-align: right;
    }

    .logout-link {
        line-height: normal;
        color: #fff;
    }
</style>