<template>
    <div>
        <h1 class="page-title">Languages</h1>
        <LangList />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LangList           from '~/components/languages/LangList.vue';

@Component({
  components: {
    LangList
  }
})
export default class Langs extends Vue {}
</script>