<template>
    <div>
        <h1 class="page-title">New language</h1>
        <BackButton link="/langs">Language list</BackButton>
        <CreateLang />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CreateLang         from '~/components/languages/CreateLang.vue';
import BackButton         from '~/components/ui/BackButton.vue';

@Component({
  components: {
    CreateLang,
    BackButton
  }
})
export default class NewLang extends Vue {
}
</script>