<template>
    <div id="app">
        <component :is="layout">
            <Preloader v-show="isPreloaderActive" />
            <router-view v-show="!isPreloaderActive" />
        </component>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getModule }      from 'vuex-module-decorators';
import Preloader          from '~/components/ui/Preloader.vue';
import PreloaderModule    from '~/store/modules/preloader';

@Component({
  components: {
    Preloader
  }
})
export default class UserList extends Vue {
    preloaderModule = getModule(PreloaderModule, this.$store)

    get isPreloaderActive(): boolean {
      return this.preloaderModule.isPreloaderActive;
    }

    get layout(): string {
      return this.$route.meta.layout;
    }
}
</script>