@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', Arial, sans-serif;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

.page-title {
    margin-bottom: 60px;
    font-size: 24px;
}