<template>
    <div>
        <Navbar />
        <el-container class="main-container">
            <el-aside class="sidebar">
                <Menu />
            </el-aside>
            <el-container>
                <div class="content-container">
                    <slot></slot>
                </div>
            </el-container>
        </el-container>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getModule }      from 'vuex-module-decorators';
import Navbar             from '~/components/Navbar.vue';
import Menu               from '~/components/Menu.vue';
import Preloader          from '~/components/ui/Preloader.vue';
import PreloaderModule    from '~/store/modules/preloader';

@Component({
  components: {
    Navbar,
    Menu,
    Preloader
  }
})
export default class DefaultLayout extends Vue {
    preloaderModule = getModule(PreloaderModule, this.$store)

    get isPreloaderActive(): boolean {
      return this.preloaderModule.isPreloaderActive;
    }
}
</script>

<style scoped>
    .main-container {
        height: calc(100vh - 61px);
    }

    .sidebar {
        width: 300px;
    }

    .content-container {
        overflow: auto;
        padding: 20px;
        width: 100%;
    }
</style>