<template>
    <el-form ref="createLangForm" :model="createLangForm" :rules="rules"
             class="add-form">
        <el-form-item label="Name" prop="name">
            <el-input v-model="createLangForm.name"/>
        </el-form-item>
        <el-form-item label="Logo" prop="logo">
            <br>
            <ImageUpload :fileList="createLangForm.logoFiles" :removeHandler="onLogoChanged" :uploadedHandler="onLogoChanged" />
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="submitForm('createLangForm')">Create</el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import { ValidationRules }                                from '~/components/types';
import ImageUpload                                        from '~/components/ui/ImageUpload.vue';
import Languages, { CreateLangForm }                      from '~/store/modules/languages';
import { ImageFile }                                      from '~/store/types';
import { successfullCreatedMessage, errorCreatedMessage } from '~/helpers/notifications';

@Component({
  components: {
    ImageUpload
  }
})
export default class CreateLang extends Vue {
  languagesModule = getModule(Languages, this.$store)

  get rules(): ValidationRules {
    return {
      name: [
        { required : true, message : 'Please input Name', trigger : 'blur' },
      ],
    };
  }

  submitForm(formName: string): void {
    (this.$refs[formName] as Vue & { validate: (cb: (valid: boolean) => void) => void }).validate(async(valid: boolean) => {
      if (valid) {
        try {
          await this.languagesModule.createLanguage();
          this.$notify(successfullCreatedMessage);
    
          this.$router.push({ path : '/langs' });
        } catch(e) {
          this.$notify(errorCreatedMessage);
        }
      }
    });
  }

  get createLangForm(): CreateLangForm {
    return this.languagesModule.createLangForm;
  }

  onLogoChanged(fileList: Array<ImageFile>): void {
    this.languagesModule.SET_LOGO_FILES({
      formType: 'createLangForm',
      files   : fileList
    });
  }

  destroyed(): void {
    this.languagesModule.RESET_CREATE_LANG();
  }
}
</script>

<style scoped>
    .add-form {
        max-width: 600px;
    }
</style>