<template>
    <el-dialog title="Edit language" :visible.sync="editDialogVisible">
        <el-form v-if="langForEdit" :model="langForEdit">
            <el-form-item label="Name">
                <el-input v-model="langForEdit.name"/>
            </el-form-item>
            <el-form-item label="Logo">
                <br>
                <ImageUpload :fileList="langForEdit.logoFiles" :removeHandler="onLogoChanged" :uploadedHandler="onLogoChanged" />
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">Cancel</el-button>
            <el-button type="primary" @click="updateLang">Save</el-button>
        </span>
    </el-dialog>
</template>

<script lang="ts">
import { Component, Vue }            from 'vue-property-decorator';
import { getModule }                 from 'vuex-module-decorators';
import Languages                     from '~/store/modules/languages';
import { ImageFile }                 from '~/store/types';
import { LanguageItem }              from '~/api/languages/types';
import { successfullUpdatedMessage } from '~/helpers/notifications';
import ImageUpload                   from '~/components/ui/ImageUpload.vue';

@Component({
  components: {
    ImageUpload
  }
})
export default class LangEditDialog extends Vue {
    languagesModule = getModule(Languages, this.$store)

    get editDialogVisible(): boolean {
      return this.languagesModule.editDialogVisible;
    }

    set editDialogVisible(value: boolean) {
      this.dialogVisibilityHandler(value);
    }

    get langForEdit(): LanguageItem | null {
      return this.languagesModule.langForEdit;
    }

    closeDialog(): void {
      this.dialogVisibilityHandler(false);
    }

    async updateLang(): Promise<void> {
      await this.languagesModule.updateLanguage();

      this.$notify(successfullUpdatedMessage);

      this.languagesModule.SET_DIALOG_VISIBLE(false);
      await this.languagesModule.getLanguages();
    }

    onLogoChanged(fileList: Array<ImageFile>): void {
      this.languagesModule.SET_LOGO_FILES({
        formType: 'langForEdit',
        files   : fileList
      });
    }

    dialogVisibilityHandler(value: boolean): void {
      this.languagesModule.SET_DIALOG_VISIBLE(value);
      this.languagesModule.RESET_EDIT_LANG();
    }
}
</script>