<template>
    <div>
        <AddButton link="/langs/new">Add new language</AddButton>

        <el-table
            :data="langs"
            style="width: 100%">
            <el-table-column
                label="Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                label="Logo">
                <template slot-scope="scope">
                    <img v-if="scope.row.logo" class="logo-img" :src="getLogoPath(scope.row.logo)"
                         alt="">
                    <img v-else class="no-image" src="@/assets/no-image.png"
                         alt="">
                </template>
            </el-table-column>
            <el-table-column
                label="">
                <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="handleEdit(scope.row)">
                        Edit
                    </el-button>
                    <el-button
                        size="mini"
                        type="danger"
                        @click="handleRemove(scope.row.id)">
                        Remove
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <LangEditDialog />
    </div>
</template>

<script lang="ts">
import { Component, Vue }                                 from 'vue-property-decorator';
import { getModule }                                      from 'vuex-module-decorators';
import { LanguageItem }                                   from '~/api/languages/types';
import Preloader                                          from '~/store/modules/preloader';
import Languages                                          from '~/store/modules/languages';
import LangEditDialog                                     from '~/components/languages/LangEditDialog.vue';
import AddButton                                          from '~/components/ui/AddButton.vue';
import { errorRemovedMessage, successfullRemovedMessage } from '~/helpers/notifications';
import getFullUploadPath                                  from '~/helpers/upload-path';

@Component({
  components: {
    LangEditDialog,
    AddButton
  }
})
export default class LangList extends Vue {
    languagesModule = getModule(Languages, this.$store)
    preloaderModule = getModule(Preloader, this.$store)

    async created(): Promise<void> {
      await this.languagesModule.getLanguages();
      this.preloaderModule.SET_PRELOADER_STATE(false);
    }

    handleEdit(lang: LanguageItem): void {
      this.languagesModule.SET_LANGUAGE_FOR_EDIT(lang);
      this.languagesModule.SET_DIALOG_VISIBLE(true);
    }

    handleRemove(langId: number): void {
      this.$confirm('Are you sure to remove this language?')
        .then(async() => {
          try {
            await this.languagesModule.removeLanguage(langId);

            this.$notify(successfullRemovedMessage);

            await this.languagesModule.getLanguages();
          } catch(e) {
            this.$notify(errorRemovedMessage);
          }
        })
        .catch(() => null);
    }

    get langs(): Array<LanguageItem> {
      return this.languagesModule.langList;
    }

    getLogoPath(path: string): string {
      return getFullUploadPath(path);
    }
}
</script>

<style scoped>
  .logo-img {
    max-width: 32px;
  }

  .no-image {
    opacity: 0.5;
    width: 32px;
  }
</style>