<template>
    <div>
        <h1 class="page-title">New post item</h1>
        <BackButton :link="{name: 'Post Detail', params: {id : postId}}">Back to Post</BackButton>
        <CreatePostItem />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CreatePostItem     from '~/components/posts/CreatePostItem.vue';
import BackButton         from '~/components/ui/BackButton.vue';

@Component({
  components: {
    CreatePostItem,
    BackButton
  }
})
export default class NewPostItem extends Vue {
  get postId(): string {
    return this.$route.params.id.toString();
  }
}
</script>