<template>
    <div>
        <h1 class="page-title">New post</h1>
        <BackButton link="/posts">Post list</BackButton>
        <CreatePost />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BackButton         from '~/components/ui/BackButton.vue';
import CreatePost         from '~/components/posts/CreatePost.vue';

@Component({
  components: {
    BackButton,
    CreatePost
  }
})
export default class NewPost extends Vue {
}
</script>