<template>
    <PostDetail />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PostDetail         from '~/components/posts/PostDetail.vue';

@Component({
  components: {
    PostDetail
  }
})
export default class Post extends Vue {
}
</script>