<template>
    <div>
        <h1 class="page-title">Posts</h1>
        <PostList />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PostList           from '~/components/posts/PostList.vue';

@Component({
  components: {
    PostList
  }
})
export default class Posts extends Vue {

}
</script>