<template>
    <div>
        <h1 class="page-title">Edit post item</h1>
        <BackButton :link="{name: 'Post Detail', params: {id : postId}}">Back to Post</BackButton>
        <EditPostItem />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import EditPostItem       from '~/components/posts/EditPostItem.vue';
import BackButton         from '~/components/ui/BackButton.vue';

@Component({
  components: {
    EditPostItem,
    BackButton
  }
})
export default class PostItemDetail extends Vue {
  get postId(): string {
    return this.$route.params.id.toString();
  }
}
</script>