<template>
    <div>
        <h1 class="page-title">Users</h1>
        <UserList />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UserList           from '~/components/users/UserList.vue';

@Component({
  components: {
    UserList
  }
})
export default class Users extends Vue {

}
</script>