<template>
    <router-link :to="link">
        <el-button type="primary" icon="el-icon-plus" class="btn">
            <slot></slot>
        </el-button>
    </router-link>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class AddButton extends Vue {
    @Prop() link!: string
}
</script>

<style scoped>
    .btn {
        margin-bottom: 30px;
    }
</style>