<template>
    <router-link :to="link">
        <el-button type="primary" icon="el-icon-arrow-left" class="btn">
            <slot></slot>
        </el-button>
    </router-link>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

interface LinkObject {
    name: string;
    params: {
        [key: string]: string | number;
    };
}

@Component
export default class BackButton extends Vue {
    @Prop() link!: string | LinkObject
}
</script>

<style scoped>
    .btn {
        margin-bottom: 30px;
    }
</style>