<template>
    <el-upload
        :action="actionPath"
        :before-remove="beforeRemove"
        :on-remove="handleRemove"
        :on-exceed="handleExceed"
        :multiple="false"
        :limit="1"
        :show-file-list="true"
        list-type="picture"
        :on-success="handleUploaded"
        :file-list="fileList">
        <el-button size="small" type="primary">Click to upload</el-button>
    </el-upload>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { MessageBoxData }       from 'element-ui/types/message-box';
import { ImageFile }            from '~/store/types';

@Component
export default class ImageUpload extends Vue {
    @Prop() removeHandler!: Function
    @Prop() uploadedHandler!: Function
    @Prop() fileList!: Array<ImageFile>

    beforeRemove(file: ImageFile): Promise<MessageBoxData> {
      return this.$confirm(`Cancel the transfer of ${ file.name } ?`);
    }

    handleExceed(): void {
      this.$message.warning('You\'ve loaded a logo already');
    }

    handleRemove(file: ImageFile, fileList: Array<ImageFile>): void {
      this.removeHandler(fileList);
    }

    handleUploaded(response: {}, file: ImageFile, fileList: Array<ImageFile>): void {
      this.uploadedHandler(fileList);
    }

    get actionPath(): string {
      return this.$store.state.apiURL + '/upload';
    }
}
</script>